<IfModule php5_module>
	php_flag engine off
</IfModule>

<IfModule php7_module>
	php_flag engine off
</IfModule>

<Files ~ "\.([pP][hH][pP].?)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>

    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</Files>

Options -Indexes
