.ty-text-links-wrapper {


	.ty-text-links {

		&__item {
			float: left;
			display: block;
			position: relative;
			color: #757575;   
			margin-right: 15px; 
			font-size: 26px;
			line-height: 35px;
			margin-top: 2px;
			letter-spacing: 1px;
			font-weight: 400;
		}
	}
}
.tygh-footer .footer-stay-connected {
	float: left;
    background: #fff;
}

.ty-wysiwyg-content {
	color: #ccc;
	font-size: 23px;
	line-height: 42px;
    letter-spacing: 1px;
    padding-top: 18px;
    text-align: center;
    display: block;
    //padding-left: 10%;
    //padding-right: 10%;
    font-weight: 300;
    position: relative;
	//animation-duration: 2s;
    //animation-fill-mode: both;
}

.flex {

	color: #ccc;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 200;
}

.foto {
	margin-right:10px;
}
.ty-float-right .footer-copyright {
    background-color: #fff;
    margin-right:420px;
}
/*.row-fluid .wow {
	background-color: #f0f0f0;
    border-radius: 100px;
    cursor: pointer;
    color: #a1c45a;
    font-size: 32px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    top: 0px;
}
.wow {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}*/

/*.service .fa {
  background-color: #f0f0f0;
  border-radius: 100px;
  cursor: pointer;
  color: #a1c45a;
  font-size: 32px;
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0px;
}

.service .fa:hover {
  background-color: #222;
  color: #ffffff;
  transform: scale(1);
  top: -5px;
}

.service .small {
  padding-bottom: 40px;
}
/*---------------------------------------
    About section              
-----------------------------------------*/

.about {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about h3 {
  text-align: center;
}

.about .chart {
  position: relative;
  text-align: center;
}

.about .chart-icon {
  position: absolute;
  left:50%;
  top:50%;
  margin:-40px 0 0 -34px;
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius:50%;
  background-color: #f0f0f0;
  color: #242424;
}

.about .chart-icon .fa {
  position: absolute;
  top:50%;
  margin-top: -12px;
  left:0;
  width: 100%;
  font-size: 24px;
}
@media (max-width: 980px) {
	.about .chart {
    margin-top: 32px;
  }
}
  